<DOCTYPE html>

<h1> Angular </h1>
<p> </p> 

<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
 
</head>

<div ng-app="myApp" ng-controller="myCtrl">

   
    <div id="edit" contenteditable="true">
	Here is the element's original content
	</div>
</div>

<!--  <%= form_tag(the_path, id: "search-form") do %>
       <%= text_field_tag :text, params[:text], placeholder: "Search Items" %> 
      <%= text_field_tag :author, params[:author], placeholder: "Search Items" %> 
       <%= text_field_tag :comment, params[:comment], placeholder: "Search Items" %>        
      <%= submit_tag "Search", :name => nil %> 
 <% end %> -->
<% @user="SS" %>
    
      
  <%= form_for @user, :url => the_path do |f| %>
  <%= f.text_area  :text,  cols: "130", rows: "10" %>
  <%= f.text_field :author %>
  <%= f.text_field :comment %>
  <%= f.submit %>


<% end %>
<script type="text/javascript">


</script>
</DOCTYPE>