<DOCTYPE html>

<h1> Angular </h1>
<p> </p> 

<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
 
</head>

<div ng-app="myApp" ng-controller="myCtrl">

   
    <div id="edit" contenteditable="true">
	Here is the element's original content
	</div>
</div>




<% if @me.nil? %>

<% else %>
<h2> <%= @me.id %> </h2><h2> <%= @me.text %> </h2>
<% end %>


 <%= form_for :inp, :url => update_path do |y| %>
  <%= y.text_area  :text,  cols: "130", rows: "10", :value => @me.text %>
  <%= y.text_field :author %>
  <%= y.text_field :comment %>
  <%= y.submit %>
<% end %>

<% @projects.each do |g| %>
 <%=  g.text %>
 <%=  g.id  %>
<% end %>


<script type="text/javascript">
s

</script>
</DOCTYPE>