<DOCTYPE! html>

<h1> CMPT 475 </h1>
 <h2> Assignment # 1 Group 10 </h2>


<% if @me.nil? %>

<% else %>
<div class="col-md-11">
     <h4> <%= simple_format(@me.text) %> </h4>
</div>
<% end %>
<div class="col-md-1"></div>


<div class="col-md-12"> <legend></legend> <br> </div>


 <%= simple_form_for :inp, :url => update_path do |y| %>
 <div class="col-md-10" style="white-space: pre-line;"> 
  <%= y.text_area  :text,  cols: "90", rows: "10", :value => @me.text %>
  </div>
  <div class="col-md-2"></div>

 <div class="col-md-12"></div>
   <div class="col-md-2">
  <%= y.text_field :author, :placeholder => "author" %>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-2">
  <%= y.text_field :comment, :placeholder => "additional comment" %>
  </div>
    <div class="col-md-1"></div>
  <div class="col-md-2">
  <%= y.submit "Update it" %>
  </div>
<% end %>

<div class="col-md-4"> </div>
<div class="col-md-12"> <legend></legend> <br></div>

<table class="table table-striped">
<tr>
 <th> Author </th>
 <th> Created at </th>
</tr>
<% @projects.each do |g| %>
<tr>
<!--  <td><%  g.text %> </td> -->
 <td><%=  g.author  %></td>
 <td><%= g.created_at %></td>
</tr>
<% end %>
</table>


</DOCTYPE>