<DOCTYPE html>

<h1> Angular </h1>
<p> </p> 

<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
 
</head>

<div ng-app="myApp" ng-controller="myCtrl">

   
    <div id="edit" contenteditable="true">
	Here is the element's original content
	</div>
</div>



<% @projects.each do |p| %>
<%=  p.text.to_s    %>
<%= p.id %>
<br>
<%  p.updated_at %>
<% end %>

<% @token1="SS" %>
 <%= form_for @token1, :url => update_path do |y| %>
  <%= y.text_area  :text,  cols: "130", rows: "10", :value => " " %>
  <%= y.text_field :author %>
  <%= y.text_field :comment %>
  <%= y.submit %>
<% end %>




<% @token="SS" %>
    
      
  <%= form_for @token, :url => the_path do |f| %>
  <%= f.text_area  :text,  cols: "130", rows: "10", :value => " " %>
  <%= f.text_field :author %>
  <%= f.text_field :comment %>
  <%= f.submit %>


<% end %>
<script type="text/javascript">
s

</script>
</DOCTYPE>