<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rain Effect Experiments | Demo 1 | Codrops</title>
 

 <%= stylesheet_link_tag "normalize", media: "all" %>
 
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>

     <%= stylesheet_link_tag "demo", media: "all" %>

    <%= stylesheet_link_tag "style1", media: "all" %>


  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body class="demo-1">
  <div class="image-preload">
    <%= image_tag("amir.png") %>
    <%= image_tag("public/drop-apha.png") %>
   <%= image_tag("public/texture-rain-fg.png") %>
   <%= image_tag("public/texture-rain-bg.png") %>
   <%= image_tag("public/texture-sun-fg.png") %>
   <%= image_tag("texture-sun-bg.png") %>
   <%= image_tag("texture-fallout-fg.png") %>
    <%= image_tag("texture-fallout-bg.png") %>
     <%= image_tag("texture-drizzle-fg.png") %>
      <%= image_tag("texture-drizzle-bg.png") %>


  </div>
  <div class="container">
 
    
    <p class="nosupport">Sorry, but your browser does not support WebGL!</p>
  </div>
  <!-- /container -->

  <%= javascript_include_tag "index.min.js" %>
</body>

</html>
