<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Amir Nabaei</title>
 
<style>
select 
{
  opacity: 0.1;
}

option
{
  opacity: 0.1;
}

</style>
 
 
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>

     <%= stylesheet_link_tag "demo", media: "all" %>
     <%= stylesheet_link_tag "style1", media: "all" %>
     <%= stylesheet_link_tag "normalize", media: "all" %>


  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body class="demo-1">
 
<div class="image-preload">
  <img src=" <%= asset_path('drop-color.png') %>" >

      <img src=" <%= asset_path('drop-alpha.png') %>" >
       <img src=" <%= asset_path('texture-rain-fg.png') %>" >
        <img src=" <%= asset_path('texture-rain-bg.png') %>" >
         <img src=" <%= asset_path('texture-sun-fg.png') %>" >
          <img src=" <%= asset_path('texture-sun-bg.png') %>" >
           <img src=" <%= asset_path('texture-fallout-fg.png') %>" >
            <img src=" <%= asset_path('texture-fallout-bg.png') %>" >
             <img src=" <%= asset_path('texture-drizzle-fg.png') %>" >
              <img src=" <%= asset_path('texture-drizzle-bg.png') %>" >
   
  </div>

  <div class="container">
 
      <header class="codrops-header">
   
      <h1>Amir Nabaei</h1>
      <nav class="codrops-demos">
        <a class="current-demo" href="/">Home</a>
        <a href="/demo/RoR"> Ruby on Rails</a>
        <a href="/demo/js"> JavaScript</a>
         <select onchange="location= this.options[this.selectedIndex].value;">
          <option value="/demo/java.html.erb"> Java</option>
         </select>
         
      </nav>


        <% d= Date.today %>
      
     
        <% d1= d+1 %>
        <% d2= d1+1 %>
        <% d3= d2+1 %>
        <% d4 = d3+1 %>  
    </header>
    <div class="slideshow">
      <canvas width="1" height="1" id="container" style="position:absolute"></canvas>
      <!-- Heavy Rain -->
      <div class="slide" id="slide-1" data-weather="rain">
        <div class="slide__element slide__element--date"><%= d.in_time_zone("Pacific Time (US & Canada)").strftime('%a %d %b %Y') %></div>
        <div class="slide__element slide__element--temp"> 
        25<small>C</small></div>
      </div>
      <!-- Drizzle -->
      <div class="slide" id="slide-2" data-weather="drizzle">
        <div class="slide__element slide__element--date"><%= d1.strftime('%a %d %b %Y') %></div>
        <div class="slide__element slide__element--temp">23°<small>C</small></div>
      </div>
      <!-- Sunny -->
      <div class="slide" id="slide-3" data-weather="sunny">
        <div class="slide__element slide__element--date"><%= d2.strftime('%a %d %b %Y') %></div>
        <div class="slide__element slide__element--temp">23°<small>C</small></div>
      </div>
      <!-- Heavy rain -->
      <div class="slide" id="slide-5" data-weather="storm">
        <div class="slide__element slide__element--date"><%= d3.strftime('%a %d %b %Y') %></div>
        <div class="slide__element slide__element--temp">23°<small>C</small></div>
      </div>
      <!-- Fallout (greenish overlay with slightly greenish/yellowish drops) -->
      <div class="slide" id="slide-4" data-weather="fallout">
        <div class="slide__element slide__element--date"><%= d4.strftime('%a %d %b %Y') %></div>
        <div class="slide__element slide__element--temp">21°<small>C</small></div>
      </div>
      <nav class="slideshow__nav">
       
        <a class="nav-item" href="#slide-1"><i class="icon icon--rainy"></i><span> <%= d.strftime('%a %d')   %> </span></a>
         
        <a class="nav-item" href="#slide-2"><i class="icon icon--drizzle"></i><span><%= d1.strftime('%a %d')  %> </span></a>
        
        <a class="nav-item" href="#slide-3"><i class="icon icon--sun"></i><span><%= d2.strftime('%a %d')  %> </span></a>
      
        <a class="nav-item" href="#slide-5"><i class="icon icon--storm"></i><span><%= d3.strftime('%a %d')   %></span></a> 
      
        <a class="nav-item" href="#slide-4"><i class="icon icon--radioactive"></i><span><%= d4.strftime('%a %d')  %> </span></a>
     
      </nav>
    </div>
    <p class="nosupport">Sorry, but your browser does not support WebGL!</p>
  </div>
  <!-- /container -->

  <%= javascript_include_tag "index.min.js" %>
  <footer>
<!--  <small>© Copyright from Coderops <a href="http://tympanus.net/Development/RainEffect/">source code</a></small> -->
</footer>

</body>



</html>
